@import "tailwindcss";

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css */
.clip-diagonal {
  clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
}

.clip-diagonal-div2 {
  clip-path: polygon(67% 0%, 100% 0, 100% 100%, 80% 100%);
}
